pipeline/Customer_Threshold_DynamicPath.json
{
	"name": "Customer_Threshold_DynamicPath",
	"properties": {
		"activities": [
			{
				"name": "GetThreshold",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_threshold_json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetCustomerCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetThreshold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS totalCount FROM Customer\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_customer_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCustomerCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('GetCustomerCount').output.firstRow.CustomerCount, activity('GetThreshold').output.firstRow.Threshold)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait_FalsePath",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "CopyCustomerToADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_customer_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_customer_json_output",
									"type": "DatasetReference",
									"parameters": {
										"directoryPath": "Customer/@{formatDateTime(utcNow(),'yyyy/MM/dd')}",
										"fileName": {
											"value": "customer_data.json",
											"type": "Expression"
										},
										"folderPath": "Customer/@{formatDateTime(utcNow(),'yyyy/MM/dd')}"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}